* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 15px;
}

.opcoes {
  text-align: center;
  padding: 15px;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 180px;
  border-radius: 8px;
}

.highlight {
  border: 2px solid red;
  background-color: #ffecec;
}